:root {
  --main-font: Arial, sans-serif;
  --primary-bg-color: #515151;
  --icon-color: #ffffff;
  --hero-bg-color: #009f7b;
  --footer-bg-color: #ffc31b;
}

* {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  opacity: .7;
}     


.navbar {
  background: var(--primary-bg-color);
  color: var(--icon-color);
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: .5rem 5vw;
}

.navbar i {
  font-size: 2rem;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;

}

.navbar ul li {
  padding: 5px 10px;
  cursor: pointer;
}

.container {
  padding: 1rem 5vw;
  display: grid;
  height: 400px;
}

.container h1 {
  margin: 1rem 0;
}

.hero-container-1 {
  grid-template-columns: 70% 30%;
  background-color: rgb(211, 221, 231);
  height: 100%;
}

.con-1-left {
  margin: 2rem 0;
}

.con-1-right img {
  width: 100%;
  height: 100%;
}

.btn {
  color: var(--icon-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 1rem;
}

p {
  line-height: 1.5;
}

.btn-1 {
  background-color: rgb(47, 150, 223);
}

.btn-2 {
  background-color: var(--hero-bg-color);
}

.hero-container-2 {
  grid-template-columns: 30% 70%;
  background-color: var(--hero-bg-color);
  height: 100%;
}

.con-2-right {
  margin: 2rem 1rem;
}

.con-2-left img {
  width: 100%;
  height: 100%;
}

/* card section styling  */
.card-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card-item {
  flex: 0 1 calc(33.333% - 1rem);
}

.card {
  width: 215px;
  height: auto;
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2rem 1rem;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.card i {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
}

.card i.fa-music {
  color: #ff56f1;
  border: 1px solid #ff56f1;
}

.card:hover i.fa-music {
  background-color: #ff56f1;
  color: white;
}

.card i.fa-download {
  color: #009f7b;
  border: 1px solid #009f7b;
}

.card:hover i.fa-download {
  background-color: #009f7b;
  color: #fff;
}

.card i.fa-camera {
  color: #ffe864;
  border: 1px solid #ffe864;
}

.card:hover i.fa-camera {
  background-color: #ffe864;
  color: #fff;
}

.card i.fa-wifi {
  color: #4070fe;
  border: 1px solid #4070fe;
}

.card:hover i.fa-wifi {
  background-color: #4070fe;
  color: #fff;
}

.card i.fa-location {
  color: #626967;
  border: 1px solid #626967;
}

.card:hover i.fa-location {
  background-color: #626967;
  color: #fff;
  transition: all .7s;
}

/* footer styling  */

footer {
  background-color: var(--primary-bg-color);
  padding: 2rem 1rem;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer li {
  list-style: none;
  cursor: pointer;
  padding: 3px 0;
  opacity: 0.5;
  color: rgb(255, 255, 255);
}

footer li:first-child {
  opacity: 1;
  font-size: 1.2rem;
}

/* Responsive Design */

/* Add styles for tablet landscape here */
@media only screen and (max-width: 1024px) {
  .card {
    width: 330px;
  }
}

/* Add styles for tablet portrait here */
@media only screen and (max-width: 768px) {}


/* Add styles for mobile devices here */
@media only screen and (max-width: 480px) {

  .hamburger {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;

  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar ul {
    display: none;
  }

  .hero-container-1 {
    display: flex;
    flex-direction: column-reverse;
  }


  .hero-container-2 {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    gap: 1rem;
  }
}